
hello-world/.exercism/metadata.json
.vs/VSWorkspaceState.json
.vs/ProjectSettings.json
.vs/Exercism_Javascript_Track/v16/.suo
.vs/Exercism_Javascript_Track/v16/TestStore/0/000-0000.testlog
.vs/Exercism_Javascript_Track/v16/TestStore/0/testlog.manifest
.vs/slnx.sqlite
hello-world/node_modules/
two-fer/.exercism/metadata.json
two-fer/node_modules/
resistor-color/.exercism/metadata.json
resistor-color/node_modules/
resistor-color-duo/.exercism/metadata.json
resistor-color-duo/node_modules/
